# Python
__pycache__/
*.py[cod]
*.pyd
.Python
*.so
.venv/
venv/
ENV/

# Tests / coverage
.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage.xml
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
Thumbs.db
Desktop.ini

# Logs
*.log

# Env files
.env
.env.*
!.env.example

# Docker
*.pid

